/* Overall */
.vis-timeline {
  border: 1px solid #25322F;
}
.vis-item {
  font-size: 12px;
  color: #F0F0F0;
  background: #25322F;
}
.vis-item.vis-selected {
  background: #3AFFA7 !important;
  color: #000 !important;
}
.epoch.vis-item, .current-epoch.vis-item, .layer.vis-item, .poet-round.vis-item, .cycle-gap.vis-item {
  border: 1px solid #061A14 !important;
}
.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
  border-color: #25322F !important;
}

.vis-itemset .vis-foreground {
  background: rgba(0,0,0,.2);
}

.vis-rolling-mode-btn {
  background-color: #3AFFA7;
  color: black;
  font-size: 26px;
}

.vis-time-axis {
  font-size: 10px;
}

.vis-custom-time.cursor {
  background-color: #3AFFA7;
  opacity: 0.5;
  pointer-events: none;
}


/* BG */
.vis-vertical, .vis-group {
  border-color: #25322F !important;
}

/* Group labels */
.vis-labelset {
  min-width: 80px;
}

.vis-label {
  background: #061A14 !important;
  font-size: 12px;
  text-align: left;
  padding: 0 3px;
  border-color: #25322F !important;
  color: #B9B9B9 !important;
}
.vis-nested-group .vis-inner {
  padding-left: 0 !important;
}

.vis-group-level-unknown-but-gte1 {
  border: none;
}

/* Events */
.smesher-event.vis-item {
  border: none;
  background: #25322F;
  font-size: 10px;
  color: white;
}
.smesher-event.vis-point {
  border-top: 1px solid #061A14 !important;
}
.smesher-event.vis-item.failure {
  color: #F54E4E;
}
.smesher-event.vis-dot {
  border: 3px solid #3AFFA7;
}
.smesher-event.vis-dot.failure {
  border: 3px solid #F54E4E;
}

.vis-group.hidden .layer.vis-item {
  border-color: transparent !important
}

.epoch.failed, .layer.failed, .poet-round.failed, .cycle-gap.failed {
  background: #322525;
}

.identities {
  display: inline-block;
  margin-left: 0.5em;
}

.id-marker  {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  font-size: 0.8em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  background: #7D7B7B;
  color: #000;
  border: 1px solid #061A14;
  text-decoration: none;
  font-style: normal;
}
.id-marker.success {
  background: #3AFFA7;
  color: #000;
}
.id-marker.idle {
  background: #434242;
  color: #000;
}
.id-marker.pending {
  background: #B9B9B9;
  color: #000;
}
.id-marker.failed {
  background: #F54E4E;
  color: #000;
}
.id-marker.eligible {
  background: #FFD700;
  color: #000;
}

.layer.rewarded {
  background-color: #236c31;
}
.layer.eligible {
  background-color: #585837;
}